:host {
    display: block;
    /* height: 100vh; viewport height */
    height: 100vh;
    background-image: url('../../assets/images/books.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.card{
    background-color: #f8f9fa75
}