
    <!-- main app container -->
<!--    
    <div class="d-flex flex-column justify-content-center align-items-center h-100 overflow-auto">
        <div class="card" style="width: 60rem;">
            <div class="card-body">
        
        <div class="container">
        <form class="form-horizontal row" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <h2 class="text-center col-md-12">Registration</h2>


            <div class="form-group col-md-6">
                <label for="firstName" class="col-sm-12 control-label">First Name</label>
                <div class="col-sm-12">
                    <input type="text" formControlName="firstName" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                        <div *ngIf="f.firstName.errors.required">First Name is required</div>
                    </div>
                </div>
               
               
            </div>


            <div class="form-group col-md-6">
                <label for="firstName" class="col-sm-12 control-label">Last Name</label>
                <div class="col-sm-12">
                <input type="text" formControlName="lastName" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                    <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                </div>
                </div>
            </div>

            <div class="form-group col-md-6">
                <label for="firstName" class="col-sm-12 control-label">Email</label>
                <div class="col-sm-12">
                <input type="text" formControlName="email" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                </div>
                </div>
            </div>


            <div class="form-group col-md-6">
                <label for="firstName" class="col-sm-12 control-label">Password</label>
                <div class="col-sm-12">
                <input type="password" formControlName="password" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                    <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                </div>
                </div>
            </div>

            <div class="form-group col-md-6">
                <label  for="firstName" class="col-sm-12 control-label">Confirm Password</label>
                <div class="col-sm-12">
                <input type="password" formControlName="confirmPassword" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                    <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                    <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                </div>
                </div>
            </div>

            <div class="form-group col-md-6">
                <label for="mobileNumber" class="col-sm-12 control-label">Mobile number </label>
                <div class="col-sm-12">
                    <input type="tel" placeholder="Mobile number" formControlName="mobileNumber" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.mobileNumber.errors }" />
                    <div *ngIf="submitted && f.mobileNumber.errors" class="invalid-feedback">
                        <div *ngIf="f.mobileNumber.errors.required">Phone Number is required</div>
                <div *ngIf="f.mobileNumber.errors.minlength">Phone Number must be atleast 10 characters</div>
            <div *ngIf="f.mobileNumber.errors.maxlength">Phone Number must not exceed 10 characters</div>
            </div>
                    <span class="help-block">Your phone number won't be disclosed anywhere </span>
                </div>
            </div>
            <div class="form-group d-flex justify-content-center col-md-12">
                <button (click)=" onSubmit()" class="btn btn-primary col-md-6">Register</button>
            </div>
        </form>
  
</div>
</div>
</div>
</div> -->


    <!-- main app container -->
   
    <div class="d-flex flex-column justify-content-center align-items-center h-100 overflow-auto">
        <div class="card" style="width: 60rem;">
            <div class="card-body">
        
        <div class="container">
        <h2 class="text-center col-md-12">Registration</h2>
        <form class="form-horizontal row" [formGroup]="registerForm" (ngSubmit)="onSubmit()" #regForm="ngForm" 
        (ngSubmit)="submitRegistrationForm(regForm.value)">

            <div class="form-group col-md-6">
                <label for="firstName" class="col-sm-12 control-label">Name</label>
                <div class="col-sm-12">
                    <input type="text" placeholder="Name" formControlName="userName" class="form-control" ngModel
                        [ngClass]="{ 'is-invalid': submitted && f.userName.errors }" />
                    <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
                        <div *ngIf="f.userName.errors.required">First Name is required</div>
                    </div>
                </div>
               
           
            </div>
   
            <div class="form-group col-md-6">
                <label for="firstName" class="col-sm-12 control-label">Address</label>
                <div class="col-sm-12">
                <input type="text" placeholder="Address"  formControlName="address" class="form-control" ngModel
                    [ngClass]="{ 'is-invalid': submitted && f.address.errors }" />
                <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                    <div *ngIf="f.address.errors.required">Address is required</div>
                </div>
                </div>
            </div>

            <div class="form-group col-md-6">
                <label for="firstName" class="col-sm-12 control-label">Email</label>
                <div class="col-sm-12">
                <input type="text" placeholder="Email Id" formControlName="emailId" class="form-control" ngModel
                    [ngClass]="{ 'is-invalid': submitted && f.emailId.errors }" />
                <div *ngIf="submitted && f.emailId.errors" class="invalid-feedback">
                    <div *ngIf="f.emailId.errors.required">Email is required</div>
                    <div *ngIf="f.emailId.errors.email">Email must be a valid email address</div>
                </div>
                </div>
            </div>

            
            <div class="form-group col-md-6">
                <label for="firstName" class="col-sm-12 control-label">Login Id</label>
                <div class="col-sm-12">
                <input type="text" placeholder="LoginId"  formControlName="loginId" class="form-control" ngModel
                    [ngClass]="{ 'is-invalid': submitted && f.loginId.errors }" />
                <div *ngIf="submitted && f.loginId.errors" class="invalid-feedback">
                    <div *ngIf="f.loginId.errors.required">Login Id is required</div>
                </div>
                </div>
            </div>

            <div class="form-group col-md-6">
                <label for="firstName" class="col-sm-12 control-label">Password</label>
                <div class="col-sm-12">
                <input type="password" placeholder="Password" formControlName="password" class="form-control" ngModel
                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                    <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                </div>
                </div>
            </div>

            <div class="form-group col-md-6">
                <label  for="firstName" class="col-sm-12 control-label">Confirm Password</label>
                <div class="col-sm-12">
                <input type="password" placeholder="Confirm Password" formControlName="confirmPassword" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                    <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                    <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                </div>
                </div>
            </div>

            <div class="form-group col-md-6">
                <label for="mobileNumber" class="col-sm-12 control-label">Mobile number </label>
                <div class="col-sm-12">
                    <input type="tel" placeholder="Mobile number" formControlName="mobile" class="form-control" ngModel
                        [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }" />
                    <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
                        <div *ngIf="f.mobile.errors.required">Phone Number is required</div>
                <div *ngIf="f.mobile.errors.minlength">Phone Number must be atleast 10 characters</div>
            <div *ngIf="f.mobile.errors.maxlength">Phone Number must not exceed 10 characters</div>
            </div>
                    <span class="help-block">Your phone number won't be disclosed anywhere </span>
                </div>
            </div>
            <div class="form-group d-flex justify-content-center col-md-12">
                <button (click)=" onSubmit()" class="btn btn-primary col-md-6">Register</button>
            </div>
        </form>
  
</div>
</div>
</div>
</div>

